[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "deepgram-sdk>=3.7.0",
    "dotenv>=0.9.9",
    "python-dotenv>=1.2.1",
    "vision-agents[deepgram,gemini,getstream]>=0.2.7",
]
